.button-like {
  width: 22px;
  height: 19px;
  background-image: url(../../images/like.png);
  background-position: center;
  border: none;
  background-color: #fff;
  padding: 0;
}

.button-like:hover {
  opacity: 0.5;
}

.button-like:active {
  background-image: url(../../images/like-active.png);
}
