.profile {
  max-width: 880px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 893px) {
  .profile {
    max-width: 88%;
  }
}

@media screen and (max-width: 730px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
  }
}
