.button-close {
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(../../images/close.png);
  background-color: #000;
  position: absolute;
  top: 155px;
  left: 863px;
  padding: 0;
}
