.profile-edit__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 0 16px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 382px) {
  .profile-edit__title {
    font-size: 27px;
    line-height: 33px;
  }
}
