.button-submit {
  background-color: #000;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  display: block;
  border: 0;
  border-radius: 2px;
  padding: 14px 125px;
  width: 84%;
  height: 11%;
}

@media screen and (max-width: 528px) {
  .button-submit {
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
  }
}
